@using Entities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @{
        User user = null;
        if (Session["login"] != null)
        {
            user = Session["login"] as User;
        }
    }


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Web Page", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (user != null&& user.IsAdmin)
                    {
                        <li class="dropdown">
                            <a href="/Note/MyNotes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-wrench"></span> Admin <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">


                             
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/User/Create">
                                            <span class="glyphicon glyphicon-plus">
                                            </span> Add User
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/User/List">
                                            <span class="glyphicon glyphicon-th-list">
                                            </span> Users
                                        </a>
                                    </li>
                               
                            </ul>
                        </li>
                    }
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (user == null)
                    {
                        <li>
                            <a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Sign In</a>

                        </li>
                        <li>
                            <a href="/Home/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="/Home/ShowProfile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> @user.Username <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/User/ShowProfile"><span class="glyphicon glyphicon-user"></span> Show Profile </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/User/Edit/@user.Id"><span class="glyphicon glyphicon-edit"></span> Edit Profile</a>
                                </li>
                                <li>
                                    <a href="/Home/DeleteProfile" onclick="return confirm('Are you sure to delete this profile?');">
                                        <span class="glyphicon glyphicon-trash"></span> Delete Profile
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/Home/Logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>